body {
display:flex;
flex-direction: column;
align-items: center;
color: #262626;
}

.head {
    display: block;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 48px;
}

.btn,
.clear,
.rainbow {
    font-size: 24px;
    border: 1px solid #262626;
}

.btn {
    color: #262626;
    margin-bottom: 10px;
}

.clear {
    color: red;
    margin-left: 10px;
}

.rainbow {
    margin-left: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    height: 600px;
    
}

.new {
    background-color: #e5e5e5;
    display: flex;
    flex: 1 1 auto;
}

.draw {
    background-color: black;
}